meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='description', content='Made with 11ty, pugjs, alpinejs, postcss and css grid')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='theme-color', content='#77c1d2')
meta(name="keywords" content="11ty, pugjs, alpinejs, postcss, css grid")
meta(name="author" content="doooooooominiki")
title Sunnyside