doctype html
html(lang='en')

  head
    include _includes/meta.pug
    include _includes/script.pug

  body

    header
      include _includes/navigation.pug

    main
      include _includes/hero.pug
      include _includes/about.pug
      include _includes/services.pug
      include _includes/testimonials.pug
      include _includes/showcase.pug

    footer
      include _includes/footer.pug